<html>
    <body>
        <pe:mcml>
            <script type='text/npl'>
                <![CDATA[
                    -- bottles
                    local DiffWorldUI = NPL.load('./DiffWorldUI.lua')

                    -- libs

                    local page = document:GetPageCtrl()

                    function region_title_class(region)
                        return "region-title " .. (region_key == region.region_key and "region-title-active" or "region-title-inactive");
                    end

                    function click_region(index)
                        local comprehansive_filter_list = DiffWorldUI.comprehansiveFilterList
                        local cur_item = comprehansive_filter_list[index]
                        local region_key = cur_item.region_key

                        for key, item in ipairs(DiffWorldUI.comprehansiveList) do
                            -- show/hide block type title
                            if item.category == 2 and item.region_key == region_key then
                                if item.is_show then
                                    item.is_show = false

                                    -- hide blocks
                                    for hKey, hItem in ipairs(DiffWorldUI.comprehansiveList) do
                                        if hItem.category == 3 and hItem.region_key == region_key then
                                            hItem.is_show = false
                                        end
                                    end
                                else
                                    item.is_show = true
                                end
                            end
                        end

                        DiffWorldUI:RefreshTree()
                    end

                    function click_block_type_title(index)
                        local comprehansive_filter_list = DiffWorldUI.comprehansiveFilterList
                        local cur_item = comprehansive_filter_list[index]
                        local region_key = cur_item.region_key
                        local block_type = cur_item.block_type

                        for key, item in ipairs(DiffWorldUI.comprehansiveList) do
                            if item.category == 3 and
                               item.region_key == region_key and
                               item.block_type == block_type then
                                if item.is_show then
                                    item.is_show = false
                                else
                                    item.is_show = true
                                end
                            end
                        end

                        DiffWorldUI:RefreshTree()
                    end

                    function click_block(index)
                        local comprehansive_filter_list = DiffWorldUI.comprehansiveFilterList
                        local cur_item = comprehansive_filter_list[index]

                        GameLogic.RunCommand(format('/goto %s %s %s', cur_item.x, cur_item.y, cur_item.z))
                    end

                    function close()
                        page:CloseWindow()
                    end
                ]]>
            </script>
            <style type='type/mcss' src='Mod/DiffWorld/DiffWorldUI.mcss'></style>
            <style type='type/mcss'>
                .container {
                    width: 100%;
                    height: 100%;
                    /* height: 500px; */
                    background-color: #00000080;
                    color: #ffffff;
                }

                .regions {
                    position: absolute;
                    top: 40px;
                    bottom: 2px;
                    left: 0px;
                    right: 0px;
                    overflow: auto;
                }

                .title {
                    width: 100%;
                    height: 32px;
                    line-height: 32px;;
                }

                .region-title {
                    padding-left: 20px;
                }

                .chunk-title {
                    padding-left: 40px;
                }

                .block-title {
                    padding-left: 60px;
                }

                .block_detail {
                    padding-left: 80px;
                    width: 200px;
                }

                .text {
                    height: 32px;
                    line-height: 32px;
                }

                .text-btn:hover {
                    color: #cccccc;
                }
            </style>
            <div width='100%'
                 height='100%'
                 class='container'>
                <div>
                    <input type='button' value='<%= L"关闭" %>' onclick='close' />
                </div>
                <div>
                    <div style='float: left'><%= L'对比' %></div>
                    <div style='float: left'><%= L'远程版本：3' %></div>
                    <div style='float: left'>
                        <input type='button' value='<%= L"刷新" %>' />
                    </div>
                </div>
                <div>
                    <pe:gridview RememberScrollPos='true'
                                 AllowPaging='false'
                                 VerticalScrollBarStep='60'
                                 DefaultNodeHeight='45'
                                 CellPadding='0'
                                 ItemsPerLine='1'
                                 name='diff_tree'>
                        <Columns>
                            <pe:if condition='<%= Eval("category") == 0 %>'>
                                <%= Eval('title') %>
                            </pe:if>
                            <pe:if condition='<%= Eval("category") == 1 %>'>
                                <div class="region-title title">
                                    <input type='button'
                                           width='100%'
                                           height='100%'
                                           name='<%= Eval("index") %>'
                                           onclick='click_region'
                                           style='position: relative;
                                                  background:;' />
                                    <%= string.format(L'%s %s地块：', Eval('region_x'), Eval('region_z')) %>
                                    +<%= Eval('count_add') %>
                                    -<%= Eval('count_delete') %>
                                    m<%= Eval('count_modify') %>
                                </div>
                            </pe:if>
                            <pe:if condition='<%= Eval("category") == 2 and Eval("is_show") == true %>'>
                                <div>
                                    <input type='button'
                                           width='100%'
                                           height='100%'
                                           name='<%= Eval("index") %>'
                                           onclick='click_block_type_title'
                                           style='position: relative;
                                                  background:;'/>
                                    <%= Eval('title') %>
                                    +<%= Eval('count_add') %>
                                    -<%= Eval('count_delete') %>
                                    m<%= Eval('count_modify') %>
                                </div>
                            </pe:if>
                            <pe:if condition='<%= Eval("category") == 3 and Eval("is_show") == true %>'>
                                <div>
                                    <div class="block-title title">
                                        <input type='button'
                                               width='100%'
                                               height='100%'
                                               name='<%= Eval("index") %>'
                                               onclick='click_block'
                                               style='position: relative;
                                                      background:;' />
                                        <pe:if condition='<%= Eval("operate") == "MODIFY" %>'>m</pe:if>
                                        <pe:if condition='<%= Eval("operate") == "DELETE" %>'>-</pe:if>
                                        <pe:if condition='<%= Eval("operate") == "ADD" %>'>+</pe:if>
                                        <pe:if condition='<%= Eval("block_type") == "CODE_BLOCKS" %>' >
                                            <%= string.format(
                                                '坐标: %s, %s, %s',
                                                Eval('x'),
                                                Eval('y'),
                                                Eval('z')
                                            ) %>
                                        </pe:if>
                                        <pe:if condition='<%= Eval("block_type") == "MOVIE_BLOCKS" %>' >
                                            <%= string.format(
                                                '坐标: %s, %s, %s',
                                                Eval('x'),
                                                Eval('y'),
                                                Eval('z')
                                            ) %>
                                        </pe:if>
                                        <pe:if condition='<%= Eval("block_type") == "OTHER_BLOCKS" %>' >
                                            <%= string.format(
                                                '%s方块 坐标: %s, %s, %s',
                                                Eval('block_name'),
                                                Eval('x'),
                                                Eval('y'),
                                                Eval('z')
                                            ) %>
                                        </pe:if>
                                    </div>
                                </div>
                            </pe:if>
                        </Columns>
                    </pe:gridview>
                </div>
            </div>
        </pe:mcml>
    </body>
</html>
