<html>
    <body>
        <pe:mcml>
            <script type='text/npl'>
                <![CDATA[
                    -- bottles
                    local DiffWorldUI = NPL.load('./DiffWorldUI.lua')

                    -- libs
                    local TableCodec = commonlib.gettable('commonlib.TableCodec')
                    local BlockEngine = commonlib.gettable('MyCompany.Aries.Game.BlockEngine')
                    local DestroyBlock = commonlib.gettable('MyCompany.Aries.Game.Tasks.DestroyBlock')
                    local CreateBlock = commonlib.gettable('MyCompany.Aries.Game.Tasks.CreateBlock')

                    local page = document:GetPageCtrl()

                    function region_title_class(region)
                        return "region-title " .. (region_key == region.region_key and "region-title-active" or "region-title-inactive");
                    end

                    function click_region(index)
                        local comprehansive_filter_list = DiffWorldUI.comprehansiveFilterList
                        local cur_item = comprehansive_filter_list[index]
                        local region_key = cur_item.region_key

                        for key, item in ipairs(DiffWorldUI.comprehansiveList) do
                            -- show/hide block type title
                            if item.category == 2 and item.region_key == region_key then
                                if item.is_show then
                                    item.is_show = false

                                    -- hide blocks
                                    for hKey, hItem in ipairs(DiffWorldUI.comprehansiveList) do
                                        if hItem.category == 3 and hItem.region_key == region_key then
                                            hItem.is_show = false
                                        end
                                    end
                                else
                                    item.is_show = true
                                end
                            end
                        end

                        DiffWorldUI:RefreshTree()
                    end

                    function click_block_type_title(index)
                        local comprehansive_filter_list = DiffWorldUI.comprehansiveFilterList
                        local cur_item = comprehansive_filter_list[index]
                        local region_key = cur_item.region_key
                        local block_type = cur_item.block_type

                        for key, item in ipairs(DiffWorldUI.comprehansiveList) do
                            if item.category == 3 and
                               item.region_key == region_key and
                               item.block_type == block_type then
                                if item.is_show then
                                    item.is_show = false
                                else
                                    item.is_show = true
                                end
                            end
                        end

                        DiffWorldUI:RefreshTree()
                    end

                    function click_block(index)
                        local comprehansive_filter_list = DiffWorldUI.comprehansiveFilterList
                        local cur_item = comprehansive_filter_list[index]

                        -- set local
                        GameLogic.RunCommand(format('/goto %s %s %s', cur_item.x, cur_item.y, cur_item.z))
                        DiffWorldUI:ShowCurRegionDifferent(cur_item.region_key)

                        -- set remote
                        DiffWorldUI.diffWorldTask:Call('SetLeadRpc', cur_item)
                    end

                    function close()
                        DiffWorldUI.diffWorldTask:OnClose()
                        DiffWorldUI.diffWorldTask = nil
                        page:CloseWindow()

                        ParaTerrain.DeselectAllBlock(0)
                        ParaTerrain.DeselectAllBlock(3)
                    end

                    function refresh_all()
                        DiffWorldUI:RefreshData()
                    end

                    function click_rollback(index)
                        local comprehansive_filter_list = DiffWorldUI.comprehansiveFilterList
                        local cur_item = comprehansive_filter_list[index]

                        if cur_item.operate == 'ADD' then
                            DestroyBlock:new({
                                blockX = cur_item.x,
                                blockY = cur_item.y,
                                blockZ = cur_item.z
                            }):Run()

                            ParaTerrain.SelectBlock(
                                cur_item.x,
                                cur_item.y,
                                cur_item.z,
                                false,
                                0
                            )
                        elseif cur_item.operate == 'DELETE' then
                        echo(cur_item, true)
                            if cur_item.block_type == 'CODE_BLOCKS' or
                               cur_item.block_type == 'MOVIE_BLOCKS' then
                                local table_code_c = TableCodec:new()
                                local code_block_data = table_code_c:Decode(cur_item.remote_entity_data)

                                BlockEngine:SetBlock(
                                    cur_item.x,
                                    cur_item.y,
                                    cur_item.z,
                                    cur_item.remote_block_id,
                                    nil,
                                    nil,
                                    code_block_data
                                )
                            else
                                CreateBlock:new({
                                    blockX = cur_item.x,
                                    blockY = cur_item.y,
                                    blockZ = cur_item.z,
                                    block_id = cur_item.remote_block_id
                                }):Run()
                            end

                            ParaTerrain.SelectBlock(
                                cur_item.x,
                                cur_item.y,
                                cur_item.z,
                                false,
                                3
                            )
                        elseif cur_item.operate == 'MODIFY' then
                            BlockEngine:SetBlock(
                                cur_item.x,
                                cur_item.y,
                                cur_item.z,
                                cur_item.remote_block_id
                            )

                            ParaTerrain.SelectBlock(
                                cur_item.x,
                                cur_item.y,
                                cur_item.z,
                                false,
                                0
                            )
                        end
                    end

                    function click_code_diff(index)
                        local comprehansive_filter_list = DiffWorldUI.comprehansiveFilterList
                        local cur_item = comprehansive_filter_list[index]

                        local table_code_c = TableCodec:new()
                        local code_block_data = table_code_c:Decode(cur_item.remote_entity_data)
                        
                        echo(code_block_data, true)
                        echo(cur_item, true)

                        local cur_block_data = BlockEngine:GetBlockEntityData(cur_item.x, cur_item.y, cur_item.z)
                        echo(cur_block_data, true)

                        echo('----------------------', true)
                        -- DiffWorldUI:ShowCodeDiff()
                    end
                ]]>
            </script>
            <style type='type/mcss' src='Mod/DiffWorld/DiffWorldUI.mcss'></style>
            <style type='type/mcss'>
                .container {
                    width: 100%;
                    height: 100%;
                    /* height: 500px; */
                    background-color: #00000080;
                    color: #ffffff;
                }

                .regions {
                    position: absolute;
                    top: 40px;
                    bottom: 2px;
                    left: 0px;
                    right: 0px;
                    overflow: auto;
                }

                .title {
                    width: 100%;
                    height: 32px;
                    line-height: 32px;;
                }

                .region-title {
                    padding-left: 20px;
                }

                .chunk-title {
                    padding-left: 40px;
                }

                .block-title {
                    padding-left: 60px;
                }

                .block_detail {
                    padding-left: 80px;
                    width: 200px;
                }

                .text {
                    height: 32px;
                    line-height: 32px;
                }

                .text-btn:hover {
                    color: #cccccc;
                }
            </style>
            <div width='100%'
                 height='100%'
                 class='container'>
                <div>
                    <input type='button' value='<%= L"关闭" %>' onclick='close' />
                </div>
                <div>
                    <div style='float: left'><%= L'对比' %></div>
                    <div style='float: left'><%= L'远程版本：3' %></div>
                    <div style='float: left'>
                        <input type='button'
                               value='<%= L"刷新" %>'
                               onclick='refresh_all' />
                    </div>
                </div>
                <div>
                    <pe:gridview RememberScrollPos='true'
                                 AllowPaging='false'
                                 VerticalScrollBarStep='60'
                                 DefaultNodeHeight='45'
                                 CellPadding='0'
                                 ItemsPerLine='1'
                                 name='diff_tree'>
                        <Columns>
                            <pe:if condition='<%= Eval("category") == 0 %>'>
                                <%= Eval('title') %>
                                +<%= Eval('count_add') %>
                                -<%= Eval('count_delete') %>
                                m<%= Eval('count_modify') %>
                            </pe:if>
                            <pe:if condition='<%= Eval("category") == 1 %>'>
                                <div class="region-title title">
                                    <input type='button'
                                           width='100%'
                                           height='100%'
                                           name='<%= Eval("index") %>'
                                           onclick='click_region'
                                           style='position: relative;
                                                  background:;' />
                                    <%= string.format(L'%s %s地块：', Eval('region_x'), Eval('region_z')) %>
                                    +<%= Eval('count_add') %>
                                    -<%= Eval('count_delete') %>
                                    m<%= Eval('count_modify') %>
                                    <input type='button'
                                           value='<%= L"刷新" %>'
                                           onclick='refresh_all'  />
                                </div>
                            </pe:if>
                            <pe:if condition='<%= Eval("category") == 2 and Eval("is_show") == true %>'>
                                <div>
                                    <input type='button'
                                           width='100%'
                                           height='100%'
                                           name='<%= Eval("index") %>'
                                           onclick='click_block_type_title'
                                           style='position: relative;
                                                  background:;'/>
                                    <%= Eval('title') %>
                                    +<%= Eval('count_add') %>
                                    -<%= Eval('count_delete') %>
                                    m<%= Eval('count_modify') %>
                                </div>
                            </pe:if>
                            <pe:if condition='<%= Eval("category") == 3 and Eval("is_show") == true %>'>
                                <div>
                                    <div class="block-title title">
                                        <input type='button'
                                               width='100%'
                                               height='100%'
                                               name='<%= Eval("index") %>'
                                               onclick='click_block'
                                               style='position: relative;
                                                      background:;' />
                                        <pe:if condition='<%= Eval("operate") == "MODIFY" %>'>m</pe:if>
                                        <pe:if condition='<%= Eval("operate") == "DELETE" %>'>-</pe:if>
                                        <pe:if condition='<%= Eval("operate") == "ADD" %>'>+</pe:if>
                                        <pe:if condition='<%= Eval("block_type") == "CODE_BLOCKS" %>' >
                                            <%= string.format(
                                                '坐标: %s, %s, %s',
                                                Eval('x'),
                                                Eval('y'),
                                                Eval('z')
                                            ) %>
                                            <input type='button'
                                                   value='<%= L"回滚" %>'
                                                   name='<%= Eval("index") %>'
                                                   onclick='click_rollback' />
                                            <input type='button'
                                                   name='<%= Eval("index") %>'
                                                   value='<%= L"查看" %>'
                                                   onclick='click_code_diff' />
                                        </pe:if>
                                        <pe:if condition='<%= Eval("block_type") == "MOVIE_BLOCKS" %>' >
                                            <%= string.format(
                                                '坐标: %s, %s, %s',
                                                Eval('x'),
                                                Eval('y'),
                                                Eval('z')
                                            ) %>
                                            <input type='button'
                                                   value='<%= L"回滚" %>'
                                                   name='<%= Eval("index") %>'
                                                   onclick='click_rollback' />
                                        </pe:if>
                                        <pe:if condition='<%= Eval("block_type") == "OTHER_BLOCKS" %>' >
                                            <%= string.format(
                                                '%s方块 坐标: %s, %s, %s',
                                                Eval('block_name'),
                                                Eval('x'),
                                                Eval('y'),
                                                Eval('z')
                                            ) %>
                                            <input type='button'
                                                   value='<%= L"回滚" %>'
                                                   name='<%= Eval("index") %>'
                                                   onclick='click_rollback' />
                                        </pe:if>
                                    </div>
                                </div>
                            </pe:if>
                        </Columns>
                    </pe:gridview>
                </div>
            </div>
        </pe:mcml>
    </body>
</html>
